.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: $clr-background;
    border-radius: 4px;
    width: 100%;
    margin-top: 2em;
  }
  
  .no-data__content {
    text-align: center;
  }
  
  .no-data__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .no-data__message {
    font-size: 16px;
  }
  